{% extends "base_restaurant.html" %}
{% load tags %}

{% block body %}
<h2>
  {{restaurant}}
  
  <span class="url"> <a href="{{restaurant.url}}">[restaurant web site]</a></span>  
  
  {% star 'restaurant' restaurant.current_rating restaurant.average_rating restaurant.get_rating_url %}
</h2>

<div id="main_location">
  <div class="address">
    {{main_location.address}}<br />
    {{main_location.city}}, {{main_location.state}} {{main_location.zip}}
  </div>
  <div class="phone">
    {{main_location.phone}}
  </div>
</div>

<p class="description">{{restaurant.description}}</p>

{% if locations %}

<div id="extra_locations" class="locations off">
  <h3>
    <span class="toggle">{{num_locations}} other locations</span>
  </h3>

  <dl id="locations_list">
    {% for location in locations %}
    	<dt>{{ location|safe }}:</dt>
    	<dd>
    	  {{ location.address }} 
    	  (<abbr title="phone">p</abbr>: {{ location.phone }})
    	  
    	  <a href="" class="incomplete">view map</a>
    	</dd>
    {% endfor %}
  </dl>
</div>

{% endif %}


{% if dishes %}
<h3>Menu Items</h3>

{% include 'restaurant/include/menu_item_list.html' %}

<ul class="pagination">
  <li>
    <a href="{{restaurant.get_absolute_url}}/menu">Full Menu</a>
  </li>
</ul>

{% endif %}


{% endblock body %}
