{% extends "base_restaurant.html" %}
{% load tags %}

{% block body %}
<div class="title_container">
<h2>
  {{restaurant}}
  
  <span class="url"> <a href="{{restaurant.url}}">[restaurant web site]</a></span>  
</h2>

{% star 'restaurant' restaurant.current_rating restaurant.average_rating restaurant.get_rating_url %}
</div>

<div id="main_location">
  <div class="address">
    {{main_location.address}}<br />
    {{main_location.city}}, {{main_location.state}} {{main_location.zip}}
  </div>
  <div class="phone">
    {{main_location.phone}}
  </div>
</div>

<p class="description">{{restaurant.description}}</p>

{% if locations %}

<div id="extra_locations" class="locations off">
  <h3>
    <span class="toggle">{{num_locations}} other locations</span>
  </h3>

  <dl id="locations_list">
    {% for location in locations %}
    	<dt>{{ location|safe }}:</dt>
    	<dd>
    	  {{ location.address }} 
    	  (<abbr title="phone">p</abbr>: {{ location.phone }})
    	  
    	  <a href="" class="incomplete">view map</a>
    	</dd>
    {% endfor %}
  </dl>
</div>

{% endif %}


{% if dishes %}
<h3>Menu Items</h3>

<div id="menu_page">
  {% include 'restaurant/include/menu_item_list.html' %}

  <ul class="pagination">
    <li>
      <a href="{{restaurant.get_absolute_url}}/menu">Full Menu</a>
    </li>
    {% include 'restaurant/include/menu_paginator.html' %}
  </ul>
</div>

{% endif %}

{% if reviews %}
<div id="reviews">
<h3>Restaurant Reviews</h3>

  {% for review in reviews %}
  <div class="yui-gf review {% cycle 'odd' 'even' %}"> 
    <div class="yui-u first">
      <p class="author">{{review.author}}</p>
      <p class="date">{{review.created_at|timesince}} ago</p>
    </div>
    <div class="yui-u note">
      {{review.html_note|safe}}
    </div>
  </div>
  {% endfor %}
  
</div>

{% endif %}
<div id="reviews_options">
  <ul>
    <li class = "button">
      <a href="{{restaurant.get_absolute_url}}/review">Leave a review</a>
    </li>
  </ul>
</div>

{% endblock body %}
