body{background:#222;padding:0;}
#doc4{background:#000;color:white;border:solid 1px #666;}
#header{background:#444;margin-top:0;}
#hd #header{padding:.5em 1em;height:70px;}
#hd #header h1 a{float:left;background:url('/images/g2/logo/full_277x63.png');width:277px;height:63px;text-indent:-9999px;display:block;}
