.joint_star_rater {display:inline-block;}
.joint_star_rater legend {display:none;}
.joint_star_rater input.submit{display:none;}
.joint_star_rater ul{width:100px;position:relative;height:20px;background:url(../images/icons/stars.png) repeat-x 0 0}
.joint_star_rater li.meta{position:absolute;text-indent:-9999px;display:block;z-index:1;}
.joint_star_rater ul:hover li.meta{display:none;}
.joint_star_rater li{height:20px;width:20px;position:absolute;text-indent:-9999px;z-index:3;}
.joint_star_rater li.current{background:url(../images/icons/stars.png) repeat-x 0 -40px}
.joint_star_rater li.average{background:url(../images/icons/stars.png) repeat-x 0 -20px}
.joint_star_rater li.star:hover{background:url(../images/icons/stars.png) repeat-x 0 -40px;z-index:2;left:0;}
.joint_star_rater li.star_2{left:20px;}
.joint_star_rater li.star_3{left:40px}
.joint_star_rater li.star_4{left:60px}
.joint_star_rater li.star_5{left:80px}
.joint_star_rater li.star_1:hover{width:20px}
.joint_star_rater li.star_2:hover{width:40px}
.joint_star_rater li.star_3:hover{width:60px}
.joint_star_rater li.star_4:hover{width:80px}
.joint_star_rater li.star_5:hover{width:100px}

a:link{color:#49d;text-decoration:none;}
a:visited{color:#d6d;text-decoration:none;}
html{background:#222}
body{font-family:Futura,Centry Gothic,Verdana,sans-serif;}
#doc4{background:#000;color:white;border:solid 1px #666;}
#hd #header{background:#444;margin-top:0;border-bottom:2px solid #09c;padding:.5em 1em;height:70px;}
#hd #header h1 a{float:left;background:url('../images/g2/logo/full_277x63.png');width:277px;height:63px;text-indent:-9999px;display:block;}
#hd #search_box{float:right;margin-top:2em}
#hd #search_box input.text{width:190px;background:#ccc;border:solid 1px #666;padding:.4em .5em;font:90% Arial;letter-spacing:.1em;}
#hd #search_box input.text:hover{background:#eee;}
#hd form .info{display:block;font-style:italic;font-size:90%;line-height:2em;}
#hd #top_menu{position:relative;top:-2px;margin:0 30%;border:2px solid #09c;border-top:none;padding:.2em;text-align:center;overflow:auto;background:#444;}
#hd #top_menu ul li{float:left;width:25%;font-size:90%;}
#hd #top_menu ul li a{color:white;text-decoration:none;}
#bd{padding:1em;}
h2{font-size:130%;margin-bottom:1em;}
h2 a, h2 a:visited{color: white;border-bottom: dotted 1px #fff;}
h2 q{text-transform:none;font-style:italic;}
h3{font-size:120%;margin-bottom:1em;}
#ft{border-top:2px solid #09c;background:#333;padding:1em 0 2em;}
#ft h2{padding:0 1em;}
#ft ul{border-top:solid #fff 1px;margin:0 1em;}
#ft li{text-transform:lowercase;font-size:95%;padding:.2em .5em;font-family:Arial;text-align:right;background:url('../images/g2/logo/mini.png') no-repeat 10px;border-bottom:solid #fff 1px;)}
#ft li.rss{background:url('../images/feedicon.png') no-repeat 10px}
#ft li.email{background:url('../images/icons/fam/email.png') no-repeat 10px}
#ft li a{color:#49d;text-decoration:none;}
.ad{text-align:center;margin-top:2em;padding-top:2em;border-top:dashed 1px #444;}


form.cmxform
{
    margin-top: 1em;
}
form.cmxform label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
form.cmxform fieldset ol {
  margin: 0;
  padding: 0;
}
form.cmxform fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
form.cmxform fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form.cmxform fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form.cmxform fieldset fieldset label {
  display: block;
  width: auto;
}
form.cmxform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form.cmxform label {
  width: 120px; /* Width of labels */
}
form.cmxform fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}

.errorlist {
    color: red;
 font-style:italic;}
 
 p
 {
     margin-bottom: 1em;
 }
 
 strong { font-weight: bold;}
 em { font-style: italic;}
 
.columns_n_400 {
    overflow: hidden;
}

.columns_n_400 .column
{
    width: 548px;
    float: left;
}

.columns_n_400 .column_400
{
    width: 400px;
    float: right;
}

#restaurant_map
{
    background: #333;
    width: 100%;
    height: 300px;
    color: #000;
}

.tags ul, .tags li {
    display: inline;
}

#tag_box 
{
    margin-bottom: 1em;
}