p.description {
    font-style: italic;
    margin: 0 0 1em 1em;
}

#main_location 
{
    font-size: 80%;
    margin-bottom: 1em;
}


.toggle {
    background: url(../images/icons/sprite.png) no-repeat 0px -18px;
    padding: 0 0 0 18px;
}

.off #locations_list {
    display: none;
}

.on .toggle {
    background-position: 0 6px;
}

.on #locations_list {
    display: block;
}

h2 .url {
    font-weight: normal;
    font-size: 60%;
}

#extra_locations h3, #extra_locations dl {
    font-size: 90%;
}

#extra_locations dl {
    font-family: Arial;
}

#extra_locations dt {
    float: left;
    margin-right: 1em;
}

#extra_locations {
    margin-bottom: 1em;
}

#menuitems_list img {
    border: solid 2px #fff
}

#menuitems_list li.dish {
    float: left;
    width: 50%;
}

#menuitems_list .yui-gd
{
    margin-bottom: 1em;
    height: 104px;
    border-bottom: solid 1px #555;
    padding-bottom: 1em;
}


#menuitems_list .yui-gd .first
{
    text-align: center;

}

#menuitems_list div.even
{
    background: #111;
}

#menuitems_list p
{
    font-size: 80%;
}

#menuitems_list .stars 
{
    margin-bottom: .5em;
}

.pagination li.page 
{
    margin-left:5px;
    text-align:center;
    width:20px;
}
.pagination li 
{
    background:#333;
    border:1px solid white;
    float:left;
    padding: 0 3px;
}

.pagination li.current
{
    background:#eee;
}

.pagination a
{
    color: #fff;
}

.pagination .navigation
{
    margin-left:5px;
}

.pagination li.current a
{
    color: #000;
}
