{% extends "base.html" %}

{% block body %}
<h2>About Meal Advisor</h2>

<p>
  Meal Advisor is a restaurant and menu item review site.  Meal Advisor aims to let people know not so much where to eat, but rather what to eat wherever you are. People can register themselves as a reviewer and make comments, add restaurants, add dishes or simply rate dishes to contribute. Dining out is expensive, and its easy to forget what you like or dislike at a restaurant. We hope your next meal is a great meal!
</p>

<h2>Colophon</h2>

<p>
    The original site (formerly "meal advisor") was built on the <a
    href="http://symfony-project.com/">symfony PHP5 web framework</a> and was
    used as a model for creating this current incarnation. 
</p>

<p> 
    The site was redesigned using OmniGraffle and inspired by black-background
    sites such as Popurls. We used the <a
    href="http://www.famfamfam.com/lab/icons/silk/" title="famfamfam.com: Silk
    Icons">Silk icons</a> from Fam Fam Fam. Occasional assistance came from
    Adobe's Illustrator and Photoshop products.
</p>

<p>
    We use Slicehost VPS to host a virtual Ubuntu server. We serve static
    content using nginx (pronounced "Engine-X") and requests for dyanmic
    content are delivered to an Apache 2 HTTP server running
    <code>mod_python</code>. The meal advisor application is built using the
    <a href="http://djangoproject.com/">django web framework</a> for python. 
    Using mysql as its data storage.
</p>

<p> 
    The site is developed for Firefox, Safari, Internet Explorer 7 and
    Internet Explorer 6.
</p>

{% endblock body %}
