{% extends "base_restaurant.html" %}
{% load tags %}
{% load image_extras %}
{% block title %}{{menu_item|lower}} &laquo; {{restaurant|lower}} &laquo; {% endblock title %}

{% block body %}
<div class="title_container">
<h2>
  {{menu_item}} from {% link_to restaurant restaurant.get_absolute_url %}
</h2>

{% star menu_item.slug menu_item.current_rating menu_item.average_rating menu_item.get_rating_url %}

</div>

<div id="photo_container" class="columns_n_250">
  <div class="column">

    {% include 'includes/tagbox.html' %}	

    <p class="description">{{menu_item.description}}</p>

    {% if menu_item.price %}
    <p class="price">Price: {{menu_item.price}}</p>
    {% endif %}

    </div>
    <div class="column column_250">
      {% random_menuitem_image menu_item %}
    </div>
</div>

{% include 'includes/reviews.html' %}
<pre>

  Show the comment form

</pre>

{% endblock body %}
