{% extends "base_restaurant.html" %}
{% load tags %}
{% load image_extras %}
{% block title %}{{menu_item|lower}} &laquo; {{restaurant|lower}} &laquo; {% endblock title %}

{% block body %}
<div class="title_container">
<h2>
  {{menu_item}} from {% link_to restaurant restaurant.get_absolute_url %}
</h2>

{% star menu_item.slug menu_item.current_rating menu_item.average_rating menu_item.get_rating_url %}

</div>

<div id="photo_container" class="columns_n_250">
  <div class="column">

    {% include 'includes/tagbox.html' %}	

    <p class="description">{{menu_item.html_description|safe}}</p>

    {% if menu_item.price %}
    <p class="price">Price: {{menu_item.price}}</p>
    {% endif %}

    </div>
    <div class="column column_250">
		<p>{% random_menuitem_image menu_item %}</p>
		<p>
			<a href="{{menu_item.get_absolute_url}}/add/image">Upload your own photo</a>
		</p>
    </div>
</div>

{% include 'includes/reviews.html' %}


<h3>What did you think?</h3>
{% include 'includes/review_form.html' %}

{% endblock body %}
