{% extends "base.html" %}
{% block title %}results for {{query}} &raquo; {% endblock title %}


{% block body %}

<h2>Results for <q>{{query}}</q></h2>

{% if restaurants %}
<h3>matching restaurants...</h3>

{% for restaurant in restaurants %}
<li>
  <h4><a href="{{restaurant.get_absolute_url}}">{{restaurant}}</a></h4>
</li>
{% endfor %}
{% endif %}

{% if locations %}
<h3>matching locations...</h3>

{% for location in locations %}
<li>
  <h4><a href="{{location.restaurant.get_absolute_url}}">{{location.restaurant}}</a></h4>
  <p>
    {{location.zip}}
  </p>
</li>
{% endfor %}
{% endif %}
{% endblock body %}
