 <div id="ad_unit_1" class="ad"> 
   <script type="text/javascript"><!-- 
   google_ad_client = "pub-2985200403633756"; 
   google_ad_width = 728; 
   google_ad_height = 90; 
   google_ad_format = "728x90_as"; 
   google_ad_type = "text"; 
   google_ad_channel ="1642910453"; 
   google_color_border = "333333"; 
   google_color_bg = "333333"; 
   google_color_link = "4499dd"; 
   google_color_url = "4499dd"; 
   google_color_text = "eeeeee"; 
   //--></script> 
   <script type="text/javascript" 
   src="http://pagead2.googlesyndication.com/pagead/show_ads.js"> 
   </script> 
 </div>   