{%extends "base.html"%}

{% block title %}{{restaurant|lower}} &laquo; {% endblock title %}

{%block feeds %}
{{block.super}}
<link href="/restaurant/{{restaurant.slug}}/feed" title="Latest menu items at {{restaurant}}" type="application/rss+xml" rel="alternate"/>
{%endblock feeds %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/restaurant.css" />
{% endblock css %}

{% block js %}
<script type="text/javascript" src="/static/js/restaurant.js"></script> 
{% block jsprod %}
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/dragdrop/dragdrop-min.js" ></script> 
<script type="text/javascript" charset="utf-8">
    var YMAPPID = 'reviewsby.us'
</script>
<script type="text/javascript" src="http://us.js2.yimg.com/us.js.yimg.com/lib/map/js/api/ymapapi_3_8_0_7.js"></script>
{% endblock jsprod %}
{% endblock js %}




{% block subscribe %}
{{block.super}}
<li class="rss">
<a href="/restaurant/{{restaurant.slug}}/feed" 
  title="Latest menu items at {{restaurant}}">
  Latest menu items at {{restaurant}}
</a>
</li>
{% endblock subscribe %}
