{% load tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>{%block title%}{%endblock title%}meal advisor</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />


  <meta name="description" content="Choose your next meal wisely..." />
  <meta name="keywords" content="menus food menu tags restaurants web2.0 eats drinks openid reviewsby.us meal advisor" />
  <meta name="language" content="en" />

  {# Favicon #}
  <link rel="shortcut icon" href="/static/images/g2/logo/favicon.png" />

  {# YUI #}

   
    {% if debug %}
    <link rel="stylesheet" type="text/css" href="/static/js/yui/build/reset-fonts-grids/reset-fonts-grids.css" />  
    <script type="text/javascript" src="/static/js/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
    <script type="text/javascript" src="/static/js/yui/build/connection/connection-min.js"></script> 
    <script type="text/javascript" src="/static/js/yui/build/datasource/datasource-min.js"></script>
    <script type="text/javascript" src="/static/js/yui/build/autocomplete/autocomplete-min.js"></script>
    {% else %}
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css" />  
    <script type="text/javascript" src="http://yui.yahooapis.com/combo?2.7.0/build/yahoo-dom-event/yahoo-dom-event.js&amp;2.7.0/build/connection/connection-min.js&amp;2.7.0/build/datasource/datasource-min.js&amp;2.7.0/build/autocomplete/autocomplete-min.js"></script>
    {% endif %}

  {# CSS #}
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
  
  {% block css %}
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/home.css" />
  {% endblock css %}
  
  {% if debug %}
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/debug.css" />
  {% endif %}
  
  {# JS #}
  {% if debug %}
  
  <script type="text/javascript" src="/static/js/main.js"></script> 
  {% block js %}
  <script type="text/javascript" src="/static/js/home.js"></script> 
  {% endblock js %}
  {% else %}
  <script type="text/javascript" src="/static/js/ma-min.js"></script> 

  {% endif %}

  {# Feeds/RSS #}
  {% block feeds %}
  <link href="/feed/latest" title="Latest restaurants" type="application/rss+xml" rel="alternate"/>  
  {% endblock feeds %}

</head>
<body class="yui-skin-sam{% if user.is_authenticated %} authenticated{% endif %}">
  
  <div id="doc4"> 
    <div id="hd">
      <div id="header">
        <h1>
          <a href="/">meal advisor</a>
        </h1>
        <div id="search_box">
          <form action="/search" method="get">
            <fieldset>
              <input id="q" name="q" value="Search for food" />
              <input type="submit" class="small" value="search" name="commit" />
              <p class="info">
                e.g. "Cafe Mazeh near Mountain View"
              </p>
            </fieldset>
          </form>
        </div>
      </div>
      <div id="top_menu">
        <ul>
          {% if user.is_authenticated %}
            <li><a href="/logout">Sign Out</a></li>
          {% else %}
            <li><a href="/login">Sign In</a></li>
            <li>
              <a href="/register">Join</a>
            </li>
          {% endif %}
            <li>
              <a href="/add/restaurant">Add Restaurant</a>
            </li>          
            <li>
              <a href="/about">About</a>
            </li>
        </ul>
      </div>
      <!-- header -->
    </div>  
    <div id="bd">
      {% block body %}{% endblock body %}
    </div>  

    <div id="ft"><!-- footer -->
      <div class="yui-gb"> 
        <div class="yui-u first">
          <h2>&hellip; about</h2>
          <ul>
            <li>
              <a href="http://yumbo.reviewsby.us/">yumbo: the meal advisor blog</a>
            </li>
            <li>
              <a href="/about">About Meal Advisor</a>
            </li>
            {% comment %}
            <li>
              <a href="/faq" class="incomplete">F.A.Q.</a>
            </li>
            <li>
              <a href="/help" class="incomplete">Help</a>
            </li>

            {% endcomment %}          
          </ul>
        </div>
        <div class="yui-u">
            <h2>&hellip; subscribe</h2>
            <ul>
              <li class="rss">
                <a href="/feed/latest">Latest Restaurants</a>
              </li>
              {% block subscribe %}
              {% endblock subscribe %}
              
              {# <li class="rss"> #}
              {#   <a href="#" class="incomplete"> #}
              {#     Latest Menu Items #}
              {#   </a> #}
              {# </li> #}
{% comment %}
	              <li class="rss">
                <a href="#" class="incomplete">
                  Latest Reviews
                </a>
              </li>
{% endcomment %}
              {# <li>Subscribe to Google Coop</li> #}
            </ul>
        </div>
        <div class="yui-u">

          <h2>&hellip; more</h2>
          <ul>
            <li class="email">
              <a href="/feedback">contact us</a>
            </li>
            {# <li> #}
            {#   email to a friend #}
            {# </li> #}
            {# <li> #}
            {#   post to del.icio.us #}
            {# </li> #}
            
            	<li>{% post_to_delicious request%}</li>
          </ul>
        </div>


      </div>
      {% include "ads.html" %}
    </div>  
  </div>

  {% if debug %} 
  {% include "debug.html" %} 
  {% else %} 
  {% include "stats.html" %} 
  {% endif %} 

</body>
</html>
