<div id="django_debug">
  <h2>Queries</h2>
  <p>
    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <ol id="debugQueryTable" style="display: none;">
    
    {% for query in sql_queries %}
      <li class="{% cycle odd,even %}">{{ query.sql|wordwrap:40 }} ({{ query.time }})</li>
    {% endfor %}
  </ol>
</div>
